# Project Settings
PROJECT_NAME="Debi-Dorshon API"
API_V1_STR="/api/v1"
HOST="0.0.0.0"
PORT=8000

# MongoDB Credentials & Connection
MONGODB_URL="mongodb://localhost:27017"
MONGODB_DB_NAME="debi_dorshon_db"
PANDAL_COLLECTION_NAME="pandals"
